<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.websarva.wings.android.parttimejobapplication">

    <!-- ネットワークベース(Networkを使って位置情報を取得する場合は以下の２つを追加)(INTERNETは通信が発生するので必要) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- GPSベース -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version" />

        <activity android:name=".PartTimeJobActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Prepare2Activity" />
        <activity android:name=".ToDoActivity" />
        <activity android:name=".StackAccountActivity" />
        <activity android:name=".AggregateActivity"></activity>
    </application>

</manifest>